<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">


    <div class=" table1">
        <table class="layui-table" lay-data="{url:'/log/all', page:true, id:'idTest'}" lay-filter="demo">
            <thead>
            <tr>
                <th lay-data="{field:'uid', sort: true, fixed: true,width:120}">用户ID</th>
                <th lay-data="{field:'username'}">用户名</th>
                <th lay-data="{field:'time' }">时间</th>
                <th lay-data="{field:'behavior'}">操作</th>
            </tr>
            </thead>
        </table>

    </div>
</div>


<script src="/layui/layui.js"></script>
<!--<script src="/layui/jquery-1.12.4.js"></script>-->
<script>
    layui.use(['table','element'], function(){
        var table = layui.table
        ,layer = layui.layer
        ,$=layui.$,element = layui.element;
        var index;
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            
        });
    });
</script>
</body>
</html>