<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lan.running.mapper.LikesMapper">
    <resultMap id="getLikesMap" type="com.lan.running.bean.Likes">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="likeUserId" column="likes_user_id"/>
        <result property="user.id" column="uid"/>
    </resultMap>
    <insert id="addLike">
        insert into likes(order_id, like_user_id, like_state)
        values (#{orderId},#{likeUserId},#{likeState})
    </insert>
    <update id="setLikes">
        update likes set like_state = #{likeState}
        where order_id = #{orderId} and like_user_id = #{likeUserId}
    </update>
    <select id="getLikes" resultType="com.lan.running.bean.Likes">
        select * from likes 
        where order_id = #{orderId} and like_user_id = #{likeUserId}
    </select>
    <select id="getLikeSize" resultType="com.lan.running.bean.Likes">
        select * from likes where order_id = #{orderId}
    </select>


</mapper>