<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lan.running.mapper.MessageMapper">

    <resultMap id="getMsgAndUserByOrderIdMap" type="com.lan.running.bean.Message">
        <id property="id" column="id"/>
        <result property="msg" column="msg"/>
        <result property="msgTime" column="msg_time"/>
        <result property="msgUserId" column="msg_user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="user.username" column="username"/>
        <result property="user.img" column="img"/>
        <result property="user.sex" column="sex"/>
    </resultMap>
    <insert id="addMsg">
        insert into message(order_id, msg_user_id, msg_time, msg)
        values (#{orderId},#{msgUserId},#{msgTime},#{msg})
    </insert>
    <select id="getMsgAndUserByOrderId" resultMap="getMsgAndUserByOrderIdMap">
        select message.*,user.username,user.img,user.sex from 
        message join user on message.msg_user_id = user.id
        where message.order_id = #{orderId}
    </select>
</mapper>